<nav class="navbar fixed-navbar">
  <div class="containe">
    <a class="navbar-brand" href="#" style="text-decoration: none; color: white;">
      <h1 style="font-weight: 700;">The Next Level</h1>
    </a>
    <button class="navbar-toggler" (click)="toggleNavbar()">
      <div class="toggler-icon"></div>
      <div class="toggler-icon"></div>
      <div class="toggler-icon"></div>
    </button>
    <div [class.navbar-collapse]="isNavbarCollapsed" class="navbar-menu">
      <ul class="navbar-links">
        <li class="nav-item dropdown" *ngFor="let item of navItems">
          <a
            href="#"
            class="nav-link"
            (mouseover)="showDropdown(item)"
            (mouseout)="hideDropdown(item)"
          >
            {{ item.name }}
          </a>
          <ul *ngIf="item.dropdown && item.showDropdown" class="dropdown-menu">
            <li class="dropdown-item" *ngFor="let subItem of item.dropdown">
              <a href="#">{{ subItem }}</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="navbar-actions">
        <button class="btn btn-primary">Log in</button>
      </div>
    </div>
  </div>
</nav>
